/*

@media only screen and (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5) {

  *{
    font-size: 120%;
  }
 #item{
   font-size: 90% !important;
}
}*/

.ui-header h1.ui-title{
font-size: 2.2em;
}
.ui-content h3{
font-size: 1.8em;
}
.ui-listview>li p {
font-size: 1.5em;
text-align: center;
text-transform: uppercase;
}
#item{
font-size: 1.5em;
}
#form .ui-input-text{
width: 45%;
display: inline-block;
}
#form .ui-input-btn{
width: 40%;
    display: inline-block;
font-size: 1.2em;
}
.done{
width: 2em;
height: 2em;
display: inline;
}
